.form-add {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-add input {
  margin-bottom: 1em;
}

.form-add label {
  display: flex;
  flex-direction: column;
}

.product-container {
  position: relative;
  list-style-type: none;
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
}

.product-discount {
  position: absolute;
  width: 70px;
  height: 70px;
  color: white;
  background-color: hsl(0, 60%, 50%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px brown ;
  transform: rotate(-30deg);
}

.product-image {
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
}

.product-image img {
  width: 100%;
}

.product-price {
  font-size: 3em;
  font-weight: bold;
}

.currency {
  font-size: .7em;
}

.product-fullprice {
  font-size: 2em;
  font-weight: bold;
  color: hsla(0, 0%, 50%, 0.637);
  text-decoration: line-through;
  margin-left: 1em;
}

.product-name {
  font-size: 2em;
  color: blue;
  text-decoration: none;
}

.product-name:visited {
  color: blue;
}

      /* <div className="product-discount">{o.discount}</div>
   
    <div className="product-info">
      <div className="product-price">
   
     <span className="product-first-price">{o.price}</span>
      
      <div className="product-name"><a href={o.src}>{o.name}</a></div> */
   